# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 

- languages for Data Science
- libraries for Data Science
- tools for Data Science
- arithmetic expressions in Python
- calculation

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. VB

Some of the commonly used libraries used by Data Scientists include: 

1. Pandas 
2. Numpy NumPy
3. SciPy

| Data Science tools |
|--------------------|
| 1. Apache Spark    |
| 2. TensorFlow      |
| 3. Apache Hadoop   |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers 

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60 

200 / 60

3.3333333333333335

## Author:   
#### Lidia Kalbarczyk